.about
  .container
    display: flex
    flex-direction: column

  .title
    margin-bottom: 29px
    width: 100%

  &__wrap
    display: flex

  &__image
    margin-right: 30px
    flex-shrink: 0
    width: 289px
    height: 285px

  &__text
    display: flex
    flex-direction: column

  &__text_title
    margin: 23px 0 14px
    line-height: 1

  &__text_paragraph
    margin: 0 0 26px
    line-height: 22px
    color: #4c4b4b

