@import '~src/vars'

.about
  .container
    display: flex
    flex-direction: column

  .title
    margin-bottom: 22px
    width: 100%
    @media #{$s}
      margin-top: 56px
      margin-bottom: 16px

  &__wrap
    display: flex
    @media #{$s}
      flex-direction: column
      align-items: center
      text-align: center

  &__image
    margin: 22px 64px 0 39px
    flex-shrink: 0
    @media #{$l}
      width: 289px
      height: 285px
    @media #{$lte-m}
      margin: 22px 29px 0 3px
      width: 219px
      height: 216px
    @media #{$s}
      margin: 0

  &__text
    display: flex
    flex-direction: column

  &__text_title
    margin: 23px 0 7px
    line-height: 1
    @media #{$m}
      margin: 23px 0 11px
    @media #{$s}
      margin: 30px auto 14px
      width: 278px
      line-height: 24px

  &__text_paragraph
    margin: 0 0 22px
    color: #4c4b4b
    &:last-of-type
      @media #{$l}
        margin-bottom: 12px
      @media #{$m}
        margin-bottom: 20px
      @media #{$s}
        margin-bottom: 16px

