<footer class="footer">
    <div class="footer__top container">
        <div class="footer__logo">
            <svg-icon-sprite [src]="'./assets/images/sprite.svg#logo'" [width]="'134px'" [height]="'24px'"></svg-icon-sprite>
        </div>
        <div class="footer__navigation">
            <app-navigation></app-navigation>
        </div>
    </div>
    <div class="footer__bottom container">
        <div class="footer__contact">
            <span *ngFor="let item of contactInfo" class="footer__contact_item">
                <span class="footer__contact_icon">
                    <svg-icon-sprite [src]="'./assets/images/sprite.svg#' + item.iconName" [width]="'24px'" [height]="'18px'"></svg-icon-sprite>
                </span>
                <span class="footer__contact_text">{{ item.text }}</span>
            </span>
        </div>
        <div class="footer__menu">
            <a *ngFor="let item of menuLinks" [href]="item.link" class="footer__menu_link">{{ item.name }}</a>
        </div>
        <span class="footer__copyright">© abz.agency specially for the test task</span>
        <div class="footer__social">
            <a *ngFor="let item of socialLinks" [href]="item.link" class="footer__social_link">
                <svg-icon-sprite
                        [src]="'./assets/images/sprite.svg#' + item.iconName"
                        [width]="item.iconWidth + 'px'"
                        [height]="item.iconHeight + 'px'">
                </svg-icon-sprite>
            </a>
        </div>
    </div>
</footer>
