<footer class="footer">
  <div class="footer__top container">
    <div class="footer__logo">
      <svg-icon-sprite [src]="'./assets/images/sprite.svg#logo'" [width]="'134px'" [height]="'24px'"></svg-icon-sprite>
    </div>
    <div class="footer__navigation">
      <app-navigation></app-navigation>
    </div>
  </div>
  <hr class="footer__hr" />
  <div class="footer__bottom container">
    <div class="footer__contact">
      <span class="footer__contact_item">
        <span class="footer__contact_icon"><svg-icon-sprite [src]="'./assets/images/sprite.svg#mail'" [width]="'24px'" [height]="'18px'"></svg-icon-sprite></span>
        <span class="footer__contact_text">work.of.future@gmail.com</span>
      </span>
      <span class="footer__contact_item">
        <span class="footer__contact_icon"><svg-icon-sprite [src]="'./assets/images/sprite.svg#phone'" [width]="'20px'" [height]="'20px'"></svg-icon-sprite></span>
        <span class="footer__contact_text">+38 (050) 789 24 98</span>
      </span>
      <span class="footer__contact_item">
        <span class="footer__contact_icon"><svg-icon-sprite [src]="'./assets/images/sprite.svg#cellphone'" [width]="'16px'" [height]="'26px'"></svg-icon-sprite></span>
        <span class="footer__contact_text">+38 (095) 556 08 45</span>
      </span>
    </div>
    <div class="footer__menu">
      <a href="#" class="footer__menu_link">News</a>
      <a href="#" class="footer__menu_link">Blog</a>
      <a href="#" class="footer__menu_link">Partners</a>
      <a href="#" class="footer__menu_link">Shop</a>
      <a href="#" class="footer__menu_link">Overview</a>
      <a href="#" class="footer__menu_link">Design</a>
      <a href="#" class="footer__menu_link">Code</a>
      <a href="#" class="footer__menu_link">Collaborate</a>
      <a href="#" class="footer__menu_link">Tutorials</a>
      <a href="#" class="footer__menu_link">Resources</a>
      <a href="#" class="footer__menu_link">Guides</a>
      <a href="#" class="footer__menu_link">Examples</a>
      <a href="#" class="footer__menu_link">FAQ</a>
      <a href="#" class="footer__menu_link">Terms</a>
      <a href="#" class="footer__menu_link">Conditions</a>
      <a href="#" class="footer__menu_link">Help</a>
    </div>
    <span class="footer__copyright">© abz.agency specially for the test task</span>
    <div class="footer__social">
      <a href="#" class="footer__social_link">
        <svg-icon-sprite [src]="'./assets/images/sprite.svg#facebook'" [width]="'26px'" [height]="'26px'"></svg-icon-sprite>
      </a>
      <a href="#" class="footer__social_link">
        <svg-icon-sprite [src]="'./assets/images/sprite.svg#linkedin'" [width]="'26px'" [height]="'26px'"></svg-icon-sprite>
      </a>
      <a href="#" class="footer__social_link">
        <svg-icon-sprite [src]="'./assets/images/sprite.svg#instagram'" [width]="'26px'" [height]="'26px'"></svg-icon-sprite>
      </a>
      <a href="#" class="footer__social_link">
        <svg-icon-sprite [src]="'./assets/images/sprite.svg#twitter'" [width]="'26px'" [height]="'26px'"></svg-icon-sprite>
      </a>
      <a href="#" class="footer__social_link">
        <svg-icon-sprite [src]="'./assets/images/sprite.svg#pinterest'" [width]="'26px'" [height]="'26px'"></svg-icon-sprite>
      </a>
    </div>
  </div>
</footer>
