@import '~src/vars'

.footer
  font-family: $SourceSans
  color: #fff
  background-color: #283593

  /deep/ app-navigation
    .navigation
      @media #{$s}
        align-items: center
    a
      color: #fff
      @media #{$s}
        margin-bottom: 6px
      &:last-of-type
        display: none

  .container
    border-bottom: 1px solid #5f5fc4
    @media #{$s}
      display: flex
      flex-direction: column
      align-items: center
      text-align: center

  &__top
    padding-top: 30px
    padding-bottom: 27px
    display: flex
    justify-content: space-between

  &__logo
    @media #{$s}
      margin-bottom: 10px

  &__contact
    display: flex
    flex-direction: column

    &_item
      margin-bottom: 23px
      display: flex
      align-items: center
      @media #{$m}
        &:last-of-type
          margin-bottom: 13px
      @media #{$s}
        margin-bottom: 11px
        justify-content: center

    &_icon
      margin-right: 10px
      display: inline-flex
      justify-content: center
      align-items: center
      width: 24px
      @media #{$lte-m}
        display: none

      svg-icon-sprite
        display: flex

    &_text
      display: flex
      align-items: center
      @media #{$l}
        font-size: 20px
        line-height: 1
      @media #{$lte-m}
        font-size: 18px

  &__bottom
    padding-top: 25px
    padding-bottom: 27px
    display: flex
    flex-wrap: wrap

  &__menu
    columns: 175px 4
    margin-left: auto
    flex-grow: 1
    max-width: 761px
    width: 100%
    text-align: right
    @media #{$m}
      columns: 100px
      max-width: 485px
    @media #{$s}
      display: none

    &_link
      margin-bottom: 10px
      display: block
      text-decoration: none
      color: #fff
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      @media #{$l}
        max-width: 200px
      @media #{$m}
        max-width: 110px
      &:hover
        color: $primary-color

  &__copyright
    margin-top: 20px
    display: block
    flex-grow: 1
    font-size: 12px
    @media #{$s}
      margin-top: 10px
      order: 1

  &__social
    margin-top: 20px
    margin-left: auto
    display: block
    @media #{$s}
      margin-left: 0
      display: flex
      justify-content: space-between
      width: 210px

    &_link
      display: inline-block
      margin-left: 20px
      color: #fff
      @media #{$s}
        margin: 0
      &:hover
        color: $primary-color

