@import '~src/styles/global'

.relationship
  margin-bottom: 140px
  @media #{$m}
    margin-bottom: 81px
  @media #{$s}
    margin-bottom: 38px

  .container
    display: flex
    flex-direction: column
    align-items: center

  .title
    margin-top: 77px
    margin-bottom: 44px
    max-width: 535px
    @media #{$m}
      margin-top: 135px
      margin-bottom: 35px
    @media #{$s}
      margin-top: 67px
      margin-bottom: 30px
      line-height: 32px

  &__wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    @media #{$lte-m}
      max-width: 595px
      flex-direction: column
    @media #{$s}
      align-items: center

  &__item
    max-width: 355px
    @media #{$lte-m}
      display: flex
    @media #{$m}
      margin-bottom: 36px
      max-width: 100%
    @media #{$s}
      margin-bottom: 32px
      flex-direction: column
      align-items: center
      text-align: center
    &_img
      flex-shrink: 0
      @media #{$m}
        margin-right: 35px
        width: 90px
      @media #{$s}
        width: 87px
    &_title
      margin: 17px 0 6px
      @media #{$m}
        margin: 4px 0 2px
      @media #{$s}
        margin: 10px 0 0
    &_text
      margin: 0
      line-height: 22px

