<header class="header">
    <app-topbar></app-topbar>
    <div class="header__wrap">
        <div class="container">
            <h1 class="header__title">Test assignment for Frontend Developer position</h1>
            <p class="header__description">We kindly remind you that your test assignment should be submitted as a link to github/bitbucket repository. <span class="hidden-mob">Please be patient, we consider and respond to every application that meets minimum requirements. We look forward to your submission. Good luck!</span></p>
            <app-button styleType="primary" (click)="scrollToSignUp()">Sign Up</app-button>
        </div>
    </div>
</header>
