@import '~src/global'

.header
  .container
    display: flex
    flex-direction: column

  &__wrap
    color: #fff
    background: url('~src/assets/images/bg-1.jpg') top center no-repeat
    background-size: 100%
    @media (min-width: 1200px)
      background-position: center
    @media #{$l}
      padding: 139px 0 158px
    @media #{$lte-m}
      background-size: cover
    @media #{$m}
      padding: 139px 0 158px
      background-position-x: left
    @media #{$s}
      padding: 70px 0
      text-align: center

  &__title
    width: 100%
    @media #{$l}
      margin: 0 0 31px
      max-width: 444px
    @media #{$m}
      margin: 0 0 31px
      max-width: 385px

  &__description
    margin: 0 0 39px
    width: 100%
    @media #{$l}
      max-width: 426px
    @media #{$m}
      max-width: 385px

