<div class="input-file">
    <div class="input-file__wrap">
        <span class="input-file__field">
            <span *ngIf="file; else fileNotSelected">{{ getFileInfo }}</span>
            <ng-template #fileNotSelected>Upload your photo</ng-template>
        </span>
        <label class="input-file__label">
            <input type="file" accept=".jpg" (change)="fileSelectHandler($event)">
            <span class="input-file__button hidden-lte-m">Upload</span>
            <span class="input-file__button hidden-l">
                <svg-icon-sprite
                        [src]="'./assets/images/sprite.svg#upload'"
                        [width]="'20px'"
                        [height]="'24px'">
                </svg-icon-sprite>
            </span>
        </label>
    </div>
    <span class="input-file__hint">File format jpg  up to 5 MB, the minimum size of 70x70px</span>
</div>
