<section class="users" id="users">
  <div class="container">
    <h2 class="title">Our cheerful users</h2>
    <h5 class="users__subtitle">Attention! Sorting users by registration date</h5>
    <div class="users__wrap">
      <div class="users__item" *ngFor="let user of usersList">
        <img [src]="user.photo" alt="user avatar" class="users__avatar">
        <div class="users__info">
          <h4 class="users__name">{{ user.name }}</h4>
          <span class="users__info_text">{{ user.position }}</span>
          <span class="users__info_text">{{ user.email }}</span>
          <span class="users__info_text">{{ user.phone }}</span>
        </div>
      </div>
    </div>
    <app-button type="secondary" (click)="getUsers($event)">Show more</app-button>
  </div>
</section>
