@import '~src/styles/global'

.users
  padding-bottom: 20px

  .container
    display: flex
    flex-direction: column
    align-items: center

  .title
    margin-bottom: 30px

  &__subtitle
    margin: 0 auto 59px
    line-height: 1

  &__wrap
    margin-bottom: 56px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    @media #{$s}
      flex-direction: column
      align-items: center

  &__item
    display: flex
    width: 30%
    @media #{$lte-m}
      flex-direction: column
      align-items: center
      text-align: center
    @media #{$s}
      width: 100%
      max-width: 280px

  &__avatar
    margin-right: 9px
    flex-shrink: 0
    width: 70px
    height: 70px
    border-radius: 50%
    @media #{$lte-m}
      margin-right: 0

  &__info
    flex-grow: 1
    +overflow-text(calc(100% - 79px)) // 100% минус ширина картинки плюс ее отступ
    @media #{$s}
      +overflow-text(100%) // 100% минус ширина картинки плюс ее отступ

  &__info_text
    display: block
    font-size: 14px
    color: #4c4b4b
    +overflow-text()

  &__name
    margin: 25px 0 18px
    +overflow-text()
