<div class="topbar">
    <div class="container">

        <div class="topbar__logo">
            <svg-icon-sprite
                    [src]="'./assets/images/sprite.svg#logo'"
                    [width]="'134px'"
                    [height]="'24px'">
            </svg-icon-sprite>
        </div>

        <div class="topbar__menu">
            <app-menu></app-menu>
        </div>

        <button class="topbar__menu_btn hidden-l">
            <svg-icon-sprite
                    [src]="'./assets/images/sprite.svg#line-menu'"
                    [width]="'23px'"
                    [height]="'22px'">
            </svg-icon-sprite>
        </button>

    </div>
</div>
