/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Overpass:600|Source+Sans+Pro:400,700')
@import "~ngx-smart-modal/ngx-smart-modal"
@import "vars"

body
  margin: 0
  padding: 0
h1
  font-family: $Overpass
  @media #{$l}
    font-size: 50px
  @media #{$m}
    font-size: 42px
  @media #{$s}
    font-size: 30px
h2
  font-family: $Overpass
  font-size: 42px
  @media #{$s}
    font-size: 26px
h3
  font-family: $Overpass
  font-size: 26px
  @media #{$s}
    font-size: 22px
h4
  font-family: $Overpass
  font-size: 22px
h5
  font-family: $SourceSans
  font-size: 18px
  font-weight: 400
  @media #{$s}
    font-size: 16px
p
  font-family: $SourceSans
  font-weight: 400
  &.font-size-l
    font-size: 20px
  &.font-size-m
    font-size: 16px
    line-height: 22px
  &.font-size-s
    font-size: 14px
  &.font-size-auto
    @media #{$l}
      font-size: 16px
      line-height: 22px
    @media #{$lte-m}
      font-size: 14px


.container
  margin: 0 auto
  box-sizing: border-box
  width: 100%
  padding: 0 10px
  @media #{$s}
    padding: 0 14px
    width: 100%
  @media #{$m}
    padding: 0 22px
    width: 768px
  @media #{$l}
    padding: 0 15px
    max-width: 1170px
    width: 100%


.title
  margin-top: 135px
  text-align: center
  line-height: 52px
  @media #{$m}
    margin-top: 113px
  @media #{$s}
    margin-top: 56px

.error-message
  display: block
  color: red


// Modal
.modal
 justify-content: center
 .nsm-body
   display: flex
   flex-direction: column
   padding: 10px
   width: 230px
   text-align: left
   h4
     margin: 0 0 5px
   p
     margin: 0 0 30px
     color: #4e4e4e
   app-button
     margin-left: auto
 .nsm-dialog-btn-close
   display: none


.hidden-all
  display: none !important
.hidden-l
  @media #{$l}
    display: none !important

.hidden-m
  @media #{$m}
    display: none !important

.hidden-s
  @media #{$s}
    display: none !important

.hidden-lte-m
  @media #{$lte-m}
    display: none !important



