@import '~src/styles/global'

.menu
  @media #{$lte-m}
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: transparent
    visibility: hidden

  /deep/ app-navigation
    .navigation
      @media #{$lte-m}
        flex-direction: column
    a
      color: #000
      @media #{$lte-m}
        margin: 0 0 24px
      &:before
        background-color: #000

  &__wrap
    display: flex
    @media #{$l}
      align-items: center
    @media #{$lte-m}
      transform: translateX(-100%)
      flex-direction: column
      width: 250px
      height: 100%
      background-color: #fff
      transition: .3s

  &__navigation
    @media #{$l}
      margin: 0 auto
    @media #{$lte-m}
      order: 1
      padding: 29px 15px 15px
      box-sizing: border-box

  &__user
    display: flex
    flex-direction: row-reverse
    @media #{$lte-m}
      padding: 25px 15px
      box-sizing: border-box
      flex-direction: column
      border-bottom: 1px solid #ccc

  &__user_avatar
    margin: 0 14px 0 12px
    width: 40px
    height: 40px
    object-fit: cover
    border-radius: 50%
    @media #{$lte-m}
      margin: 0 0 15px
      width: 70px
      height: 70px

  &__user_info
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: flex-end
    @media #{$lte-m}
      align-items: flex-start

  &__user_name
    margin-bottom: 3px
    font-family: $SourceSans
    font-size: 19px

  &__user_email
    font-family: $SourceSans
    font-size: 13px
    color: #8d8c8c

.sign_out-btn
  margin: 0
  padding: 0
  width: 24px
  height: 20px
  color: #283593
  background-color: transparent
  border: none
  cursor: pointer
