<div class="menu">
    <div class="menu__wrap">

        <nav class="menu__list">
            <a href="#" class="menu__link">About me</a>
            <a href="#" class="menu__link">Relationships</a>
            <a href="#" class="menu__link">Requirements</a>
            <a href="#" class="menu__link">Users</a>
            <a href="#" class="menu__link">Sign Up</a>
            <a href="#" class="menu__link hidden-l">Sign Out</a>
        </nav>

        <div class="menu__user">
            <img src="./assets/images/user-superstar-2x.jpg" alt="user avatar" class="menu__user_avatar">
            <div class="menu__user_info">
                <strong class="menu__user_name">Superstar</strong>
                <span class="menu__user_email">Superstar@gmail.com</span>
            </div>
        </div>

        <button class="sign_out-btn hidden-lte-m">
            <svg-icon-sprite
                    [src]="'./assets/images/sprite.svg#sign-out'"
                    [width]="'24px'"
                    [height]="'20px'">
            </svg-icon-sprite>
        </button>

    </div>
</div>
