<div class="menu" [@toggleOverlay]="currentState">
    <div class="menu__wrap" (click)="$event.stopPropagation()" [@toggleMenu]="currentState">

        <div class="menu__navigation">
            <app-navigation></app-navigation>
        </div>

        <div class="menu__user">
            <img src="./assets/images/user-superstar-2x.jpg" alt="user avatar" class="menu__user_avatar">
            <div class="menu__user_info">
                <strong class="menu__user_name">Superstar</strong>
                <span class="menu__user_email">Superstar@gmail.com</span>
            </div>
        </div>

        <button class="sign_out-btn hidden-lte-m">
            <svg-icon-sprite
                    [src]="'./assets/images/sprite.svg#sign-out'"
                    [width]="'24px'"
                    [height]="'20px'">
            </svg-icon-sprite>
        </button>

    </div>
</div>
